body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:lavender;
    margin: 0%;
}
.container{
    width: 1200px;
     margin: auto;
}

.header > h1{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    color:white;
}
.header>h2{
    text-align: center;
    color: white;       
}
#banner{
    background-image: url(/assets/images/header1.jpg);  
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 26px;
}
.nav{
    background-color: black;
    height: 39px;
}
.nav a{
    color: white;
    float: left;
    text-align: center;
    padding: 10px 15px;
}
.nav a:hover{
    color: black;
    background-color: white;
}
.maincontent {
    width: 20%;
    margin: 14px 16px;
    background-color:yellow;
    padding-bottom: 300px;
}
.div1{
    float: right;
    width: 100%;
    margin: 14px 16px;
}
.div2{
    float: right;
    width: 100%;
    margin: 14px 16px;
    padding-bottom: 20px;
}
.div2 img{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0%;
    padding-top: 0%;
    margin: 0%;
    width: 230px;
    height: auto;
    display: flex;
}
.div2 h4{
    padding-left: 20px;
    padding-right: 20px;
}
.div3{
    float: right;
    width: 100%;
    margin: 14px 16px;
    padding-bottom: 20px;
}
.information{
    width: 100%;
}
.informationsection{
    width:20%;
}
.main{
    width:74%;
    margin: 14px 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.main img{
    width:50%;
    height: 250px;
}
.div1 h3,img,p{
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.div3 h4,a{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
footer{
    text-align: center;
    margin: auto;
}
